/* Google Font 'Montserrat'*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* '*' is a universal selector */
*{
    /* box-sizing: border-box allows padding and border to be included in the elements width and height */
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;

    /* display: flex puts elements in a row */
    display: flex;

    /* flex-direction: column sets elements in a vertical  */
    flex-direction: column;

    /* The 'align-items' property specifies the default alignment for items inside the flexible container */
    /* The center property value allows elements to be centered of the container */
    align-items: center;

    /* The 'justify-content' property aligns the flexible containers items when the items do not use all available space on the main-axis (horizontally)  */
    justify-content: center;

    /* margin: 0; removes margin */
    margin: 0;

    /* 100vh takes up the entire viewport height */
    height: 100vh;

    /* The 'overflow' property specifies what should happen if content overflows an element's box */
    /* The 'hidden' property value will clip the overflow and the rest of the content will be hidden*/
    overflow: hidden;
}

